@import controllers.UserController.userForm
@import controllers.UserController.UserForm
@import play.api.i18n._
@import helper._
@(userForm: Form[UserForm])(implicit request: RequestHeader, messages: Messages)
    @main("signUp"){
        @form(action = routes.UserController.create(), 'class -> "form-horizontal") {
            <div class="form-group">
                <div class="col-sm-10">
                    @inputText(userForm("name"), 'class -> "form-control", 'id -> "inputEmail3", 'placeholder -> "Name")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    @inputText(userForm("email"), 'class -> "form-control", 'id -> "inputEmail3", 'placeholder -> "Email")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    @inputPassword(userForm("password"), 'class -> "form-control", 'id -> "inputEmail3", 'placeholder -> "Password")
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
            </div>
        }
    }
